.button {
	@include reset-button;
	@include fluid-text(16, 15);

	font-weight: 700;
	border-radius: var(--border-radius);

	&--accent-light {
		width: 100%;
		height: 50px;
		background-color: var(--color-accent-bg);
		color: var(--color-light);
		border: var(--border-big) var(--color-accent-bg);

		@include hover {
			background-color: var(--color-light);
			color: var(--color-accent-bg);
		}
	}
}
